*{margin:0;padding:0;}
div#game{width:600px;height:600px;border:2px solid black;position:fixed;left:0px;right:0px;top:0px;bottom:0px;margin:auto;padding:1px;position:relative;}
/* div#game{width:600px;height:600px;border:2px solid black;position:fixed;left:50%;top:50%;transform:translate(-50%,-50%)} */
div#game>div{width:200px;height:200px;background:url(./../img/bg1.jpg) no-repeat;padding:1px;box-sizing:border-box;background-clip:content-box;position:absolute;}
div#game>div.a1{background-position:0px 0px;}
div#game>div.a2{background-position:-200px 0px;}
div#game>div.a3{background-position:-400px 0px;}
div#game>div.a4{background-position:0px -200px;}
div#game>div.a5{background-position:-200px -200px;}
div#game>div.a6{background-position:-400px -200px;}
div#game>div.a7{background-position:0px -400px;}
div#game>div.a8{background-position:-200px -400px;}
div#game>div.a9{background-position:-400px -400px;}